<!DOCTYPE html>
<html lang="en">

    <head>
            <meta charset="UTF-8">
            <title>Ironcoin</title>
            <meta name="viewport" content="width=device-width,initial-scale=1">
            <meta name="theme-color" content="#000000">
            <meta name="description" content="Web site created using create-react-app">
            <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    </head>
    <style>
      body{
        background-color:#1A202C;
        height: 100%;
        width: 100%;
      }

      .side{
        margin-left:-20px;
      }
    
    </style>




<body>



  <div id="app" >
        
    {% block login %}
    {% endblock %}
    {% block signup %}
    {% endblock %}
    {% block main %}
    {% endblock %}
    {% block pay %}
    {% endblock %}
    {% block person %}
    {% endblock %}

    
  </div>
</body>

<script>


var app = new Vue({
  el: '#app',
  delimiters: ['[[',']]'],

  data: {
    person: 'Souhard',
    
  },


})
// </script>
</html>


