{% extends 'base.html' %}


{% block history %}




<section class="text-gray-500 bg-gray-900 body-font">

  <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-gray-800 text-orange-400 mb-4">
    <a href="/main">🠔</a>
  </div>

  
  

  
  
  <div class="container px-5 py-4 mx-auto">
    <div class="flex flex-wrap  mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white">Transiction -History</h1>
        <div class="h-1 w-20 bg-orange-500 rounded"></div>
      </div>
    </div>

    {% for i in transiction %}
    <div class="container px-5  mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
          
          <div class="flex border-t border-gray-800 py-2">
            <span class="text-gray-500">User</span>
            <span class="ml-auto text-white">{{i.user}}</span>
          </div>
          <div class="flex border-t border-gray-800 py-2">
            <span class="text-gray-500">Mobile</span>
            <span class="ml-auto text-white">{{i.mobile}}</span>
          </div>
          <div class="flex border-t border-b mb-6 border-gray-800 py-2">
            <span class="text-gray-500">Date</span>
            <span class="ml-auto text-white">{{i.date}}</span>
          </div>
          <div class="flex">
           
              <span class="title-font font-medium text-2xl text-white">IRC {{i.amount}}
                {% if i.sender %}
                   &nbsp; &#10003; 
                {% endif %}
              </span>

            
            <!-- <button class="flex ml-auto text-white bg-orange-500 border-0 py-2 px-6 focus:outline-none hover:bg-orange-600 rounded">More </button> -->
            
          </div>
        </div>
      </div>
      </div>
      <hr>

      {% endfor %}

    
    
    

</section> 


{% endblock %}