{% extends 'base.html' %}


{% block login %}


<section class="text-gray-500  body-font relative">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Iron Coin</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">A B C D E F G H I J K L M N O P Q R S T U V W  </p>
    </div>
    
    <div class="lg:w-1/3 md:w-1/2 flex flex-col md:ml-auto w-full md:py-8 mt-8 md:mt-0">
        
        <input class="bg-gray-800 rounded border border-gray-700 focus:outline-none focus:border-orange-500 text-base text-white px-4 py-2 mb-4" placeholder="Email" type="email">
        <input class="bg-gray-800 rounded border border-gray-700 focus:outline-none focus:border-orange-500 text-base text-white px-4 py-2 mb-4" placeholder="Password" type="text">
        <button class="text-white bg-orange-500 border-0 py-2 px-6 focus:outline-none hover:bg-orange-600 rounded text-lg">Login</button>
        <p class="text-xs text-gray-600 mt-3">Don't have Account ? <a href="/signup" class="text-orange-600">sign Up</a href="/home"></p>
    </div>
  </div>
</section>
  

{% endblock %}