{% extends 'base.html' %}

{% block auth %}
<div>
    <button class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 mx-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0" ><a href="/main/signin">signin</a>
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
    <button class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0" ><a href="/main/login">login</a>
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
</div>
{% endblock %}
