{% extends 'base.html' %}



{% block pay %}






  <section class="text-gray-500 bg-gray-900 body-font relative">
    <form action="/pay/" method="POST">
        {% csrf_token %}
            <div class="container px-5 py-24 mx-auto flex">
                <div class="flex items-center border-b border-orange-500 py-2">
                    <input class="appearance-none bg-transparent border-none w-full text-white mr-3 py-1 px-2 leading-tight focus:outline-none" type="number"  aria-label="Mobile Number">
                    <button class="flex-shrink-0 bg-orange-600 hover:bg-orange-600 border-orange-600 hover:border-orange-600 text-sm border-4 text-white py-1 px-2 rounded" >
                    Process</button>
            
          </div>
    </div>
    </form>



    
  </section>

{% endblock %}