{% extends 'base.html' %}






{% block histoty %}
<a class="mr-5 hover:text-white" @click="ishistorylist">History</a>
{% endblock %}


{% block histotylist %}

<div id="myModal" class="modal" v-if="historylist">
    <div class="modal-content">
        
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            <span >Hi {{content.user.name}} your balance is :-</span>
            <span class="block sm:inline  font-bold text-red-500">{{content.user.accoun_balanch}}</span>
            <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
              <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" @click="historylist=!historylist" ><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
            </span>
        </div>
        


        <table class="table-fixed">
            <thead>
              <tr>
                
                <th class="w-1/4 px-4 py-2">other</th>
                
                <th class="w-1/4 px-4 py-2">Amount</th>
              </tr>
            </thead>
            <tbody>
                 
                {% for tran in content.history %}
                <tr>
                


                    {% if tran.fromm|stringformat:"s" == content.user.name|stringformat:"s" %}

                      <td class="border px-6 py-2">{{tran.to}}</td>
                      <td class="border px-6 py-2 text-red-500">-{{tran.amount}}</td>
                    {% else %}
                      <td class="border px-6 py-2">{{tran.fromm}}</td>
                      <td class="border px-6 py-2 text-teal-500">+{{tran.amount}}</td>
                    {% endif %}
                   
                </tr>

                {% endfor %}
                    
                
              
              
            </tbody>
          </table>

        
    </div>
</div>

{% endblock %}


{% block moneytransfor %}

<div id="myModal" class="modal" v-if="moneytransfor">
    <div class="modal-content">
        <span class="close" @click="moneytransfor=!moneytransfor" >&times;</span>

        <div class="lg:w-2/3 md:w-2/3 mx-auto">
            <div class="flex flex-wrap -m-2">
                                                <form class="w-full max-w-sm"  action = "/main/moneytransfer" method="POST">

                                                {% csrf_token %}
                                                  <div class="md:flex md:items-center mb-6">
                                                    <div class="md:w-1/3">
                                                      <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                                                        TO
                                                      </label>
                                                    </div>
                                                    <div class="md:w-2/3">
                                                      <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="inline-full-name" type="text" value="souhard swami" name="to">
                                                    </div>
                                                  </div>
                                                  <div class="md:flex md:items-center mb-6">
                                                    <div class="md:w-1/3">
                                                      <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-username">
                                                        Amount
                                                      </label>
                                                    </div>
                                                    <div class="md:w-2/3">
                                                      <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="inline-username" name="amount" type="text" placeholder="0">
                                                    </div>
                                                  </div>
                                                <input name="user" value="{{content.user.id}}" id="hidecon">
                                                  <div class="md:flex md:items-center">
                                                    <div class="md:w-1/3"></div>
                                                    <div class="md:w-2/3">

                                                              <button class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="submit">
                                                                Send
                                                              </button>

                                                    </div>
                                                  </div>
                                                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block auth %}


    <div class="flex items-center">
      <img class="w-10 h-10 rounded-full mr-4" src="https://images.vexels.com/media/users/3/147101/isolated/preview/b4a49d4b864c74bb73de63f080ad7930-instagram-profile-button-by-vexels.png" alt="Avatar of Jonathan Reinink">
      <div class="text-sm">
        <p class="text-gray-400 leading-none hover:text-white">{{content.user.name}}</p>
        <a class="text-gray-600 hover:text-white"  href="/main/home">logout</a>
      </div>
    </div>


{% endblock %}